<div class="ib">

    <style>
        .kolos-tree {
        }
        .kolos-tree .tr-node {
        }

        .kolos-tree .tr-caption {
            line-height: 25px;
            cursor: pointer;
            padding-left: 3px;
        }
        .kolos-tree .tr-caption:hover {
            background: #d3ecff;
        }
        .kolos-tree .tr-caption.sel {
            background: #d8edff;
        }

        .kolos-tree .tr-child {
            margin-left: 18px;
        }
        .kolos-tree .tr-arrow {
        }
        .kolos-tree .tr-icon {
        }
        .kolos-tree .tr-actions {
            float: right;
            margin-left: 3px;
        }
    </style>

    <div id="content" class="kolos-tree" ></div>

</div>