.input {
    width: 200px;
    margin: 0;
    max-width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    text-align: left;
    padding: 3px;
    background: #fff;
    border: 1px solid #d1d1d1;
    color: rgba(0, 0, 0, .87);
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.input:focus {
    border-color: #85b7d9;
    background: #fff;
    color: rgba(0, 0, 0, .8);
    -webkit-box-shadow: none;
    box-shadow: none;
}


select.input {
    width: 230px;
}

.input.success {
    border-color: var(--c-success);
}

.input.info {
    border-color: var(--c-info);
}

.input.warning {
    border-color: var(--c-warning);
}

.input.error {
    border-color: var(--c-error);
}