.modal-back {
    display: none;
    position: fixed;
    text-align: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(6, 32, 52, 0.70);
    z-index: 1000;
}

.modal-back .modal-content {
    display: inline-block;
    /*overflow: hidden;*/
    text-align: left;
    z-index: 10000;
    cursor: auto;
    min-width: 20px;
    min-height: 20px;
}
