.progress-bar {
    font-size: 12px;
    background: #ebebeb;
    text-align: center;
}
.progress-bar .progress {
    vertical-align: middle;
    background: #02bbff;
    color: white;
    padding: 1px 0;
    min-height: 2px;
}
.progress-bar.error .progress {
    background: #ff5353;
}
.progress-bar.warning .progress {
    background: #ffcb00;
}
.progress-bar.info .progress {
    background: #02bbff;
}
.progress-bar.success .progress {
    background: #00b801;
}
.progress-bar.black .progress {
    background: #373737;
}
