/*
<label class="radio"><input type="radio" name="type" value="1"><span>Склад</span></label>
 */
.radio {
    display: inline-block;
}

.radio input {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-top: -4px;
    margin: -4px -28px 0 5px;
}

.radio span {
    width: 200px;
    display: inline-block;
    border: 1px solid transparent;
    margin-bottom: var(--m-small);
    padding: 3px;
    padding-left: 26px;
    border-radius: 3px;
}

.radio input:checked + span {
    border-color: #81bbe7;
    background: #2285d021;
}

