/* START TOOLTIP STYLES */
/* https://javascriptarticles.com/pure-css-tooltip/ */
/* <a class="button" href="#" tooltip="Tooltip way over here!" tooltip-pos="up" tooltip-pos="info">button</a> */
[tooltip] {
    position: relative; /* opinion 1 */
}
[tooltip] {
    --tooltip-color: #333;
}

[tooltip][tooltip-color^="error"] {
    --tooltip-color: var(--bg-error) !important;
}

[tooltip][tooltip-color^="success"] {
    --tooltip-color: var(--bg-success) !important;
}

[tooltip][tooltip-color^="warning"] {
    --tooltip-color: var(--bg-warning) !important;
}

[tooltip][tooltip-color^="info"] {
    --tooltip-color: var(--bg-info) !important;
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
    text-transform: none; /* opinion 2 */
    font-size: .9em; /* opinion 3 */
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
}
[tooltip]::before {
    content: '';
    border: 5px solid transparent; /* opinion 4 */
    z-index: 100001; /* absurdity 1 */
}
[tooltip]::after {
    content: attr(tooltip); /* magic! */

    /* most of the rest of this is opinion */
    font-family: Helvetica, sans-serif;
    text-align: center;

    /*
      Let the content set the size of the tooltips
      but this will also keep them from being obnoxious
      */
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    background: var(--tooltip-color);
    color: #fff;
    z-index: 100000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
    display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
    display: none !important;
}

/* FLOW: UP */
[tooltip]:not([tooltip-pos])::before,
[tooltip][tooltip-pos^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: var(--tooltip-color);
}
[tooltip]:not([tooltip-pos])::after,
[tooltip][tooltip-pos^="up"]::after {
    bottom: calc(100% + 5px);
}
[tooltip]:not([tooltip-pos])::before,
[tooltip]:not([tooltip-pos])::after,
[tooltip][tooltip-pos^="up"]::before,
[tooltip][tooltip-pos^="up"]::after {
    left: 50%;
    transform: translate(-50%, -.5em);
}

/* FLOW: DOWN */
[tooltip][tooltip-pos^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: var(--tooltip-color);
}
[tooltip][tooltip-pos^="down"]::after {
    top: calc(100% + 5px);
}
[tooltip][tooltip-pos^="down"]::before,
[tooltip][tooltip-pos^="down"]::after {
    left: 50%;
    transform: translate(-50%, .5em);
}

/* FLOW: LEFT */
[tooltip][tooltip-pos^="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: var(--tooltip-color);
    left: calc(0em - 5px);
    transform: translate(-.5em, -50%);
}
[tooltip][tooltip-pos^="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-.5em, -50%);
}

/* FLOW: RIGHT */
[tooltip][tooltip-pos^="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: var(--tooltip-color);
    right: calc(0em - 5px);
    transform: translate(.5em, -50%);
}
[tooltip][tooltip-pos^="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
    to {
        opacity: .95;
        transform: translate(-50%, 0);
    }
}

@keyframes tooltips-horz {
    to {
        opacity: .95;
        transform: translate(0, -50%);
    }
}

/* FX All The Things */
[tooltip]:not([tooltip-pos]):hover::before,
[tooltip]:not([tooltip-pos]):hover::after,
[tooltip][tooltip-pos^="up"]:hover::before,
[tooltip][tooltip-pos^="up"]:hover::after,
[tooltip][tooltip-pos^="down"]:hover::before,
[tooltip][tooltip-pos^="down"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][tooltip-pos^="left"]:hover::before,
[tooltip][tooltip-pos^="left"]:hover::after,
[tooltip][tooltip-pos^="right"]:hover::before,
[tooltip][tooltip-pos^="right"]:hover::after {
    animation: tooltips-horz 300ms ease-out forwards;
}
